/* for website https://bioinnovation.engineering.uconn.edu/ */
/* front page bug fixes */
.home #content .panel-grid .widget {
margin:0
}

div#pg-21-0 {
margin-bottom:0!important
}

#pg-w65ebb52634f11-0,#pg-w65ebb9dce2b45-0,#pg-wi2fet8qgbvh-0 {
margin-bottom:0!important
}

/* end bug fix */
/* Changes widget Title h2 size  */
.home #content .panel-grid .widget .widget-title {
font-size:2em
}

/* Changes footer padding from default 60px to 30px - Need to remove if using Mega Footer  */
#footers {
padding:30px 0
}

/* Changes footer margin top to remove exta white space above footer */
#footers {
margin-top:-20px
}

/* news RSS feed icon */
a.rsswidget > span.glyphicon {
display:none
}

/* front page title */
div.news-column > div.so-panel > div.panel-widget-style > h2.widget-title {
font-size:1.75em!important
}

body {
font-size:18px!important
}

body {
font-family:"proxima nova",arial,helvetica,sans-serif!important
}

a.collboratory-btn {
display:inline-block;
background-color:#000e2f;
border-radius:15px;
padding:10px;
text-decoration:none;
color:#fff!important
}

a.collboratory-btn:hover {
display:inline-block;
background-color:#135e96;
border-radius:3px;
transition:.35s;
bordercolor:#fff!important
}

div.rounded-imgs img {
border-radius:50% 50% 50% 50%
}

div.gradient-image::after {
content:'';
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-image:linear-gradient(180deg,transparent 0 20%,#000 95% 100%)
}

/* CSS to animate front page */
